<!DOCTYPE html>
<html>

<head>
  <title>Joke2Man</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Titan+One&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="styles/styles.css">

</head>

<body>
  <h1>What's your Dry joke ?</h1>
  <div class="card">
    <p>
      <%= setup %>
    </p>
  </div>
  <p class="user">
    <%= category %>
  </p>
</body>

</html>